# MongoDB

1. NoSQL database
2. Stores data in JSON-like documents
3. Popular, flexible and scalable
4. Uses collection instead of table
5. Uses document instead of records
6. Download is required
7. !python -m pip install pymongo
8. import pymongo

https://www.mongodb.com/try/download/community

In [26]:
import pymongo

## Creating a connection

In [27]:
#create a life server
new_client = pymongo.MongoClient('mongodb://localhost:27017')

#create a database called data_test
new_db = new_client['data_test']

#create a new column in the dataBase called student
new_col = new_db['student']

## Creating a dictionary

In [28]:
#creating a dictionary
#keyy is name and value is code
new_dict = {'name' : 'Dony',
            'code': 'code11'
                }

## Creating a document

In [29]:
#creating a document instead of a record
adding = new_col.insert_one(new_dict)
print(adding)

<pymongo.results.InsertOneResult object at 0x00000233AF7EB3D0>

In [30]:
#display the inserted id
print(adding.inserted_id)

64fa617ac82a94e0112264a2

## Creating many documents

In [31]:
#6 documents were created
list_of_students = [
    {'name': 'student00', 'code': 'code00'},
    {'name': 'student01', 'code': 'code01'},
    {'name': 'student02', 'code': 'code02'},
    {'name': 'student03', 'code': 'code03'},
    {'name': 'student04', 'code': 'code04'},
    {'name': 'student05', 'code': 'code05'}
]

#inserting all 6 into into the dataBase
adding_many = new_col.insert_many(list_of_students)

#display the id number
print(adding_many.inserted_ids)

[ObjectId('64fa617bc82a94e0112264a3'), ObjectId('64fa617bc82a94e0112264a4'), ObjectId('64fa617bc82a94e0112264a5'), ObjectId('64fa617bc82a94e0112264a6'), ObjectId('64fa617bc82a94e0112264a7'), ObjectId('64fa617bc82a94e0112264a8')]

## Changing the id number

In [32]:
#6 documents were created
list_of_student = [
    {'_id': 1, 'name': 'student00', 'code': 'code00'},
    {'_id': 2, 'name': 'student01', 'code': 'code01'},
    {'_id': 3, 'name': 'student02', 'code': 'code02'},
    {'_id': 4, 'name': 'student03', 'code': 'code03'},
    {'_id': 5, 'name': 'student04', 'code': 'code04'},
    {'_id': 6, 'name': 'student05', 'code': 'code05'}
]

#inserting all 6 into into the dataBase
adding_many = new_col.insert_many(list_of_student)

#display the id number
print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

## Using 'find' to retrieve Docs

In [33]:
#find_one returns the first document in the database
finding = new_col.find_one()
print(finding)

{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}

In [34]:
#return more than one document
for docu in new_col.find():
    print(docu)

{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}
{'_id': ObjectId('64fa617bc82a94e0112264a3'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64fa617bc82a94e0112264a4'), 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64fa617bc82a94e0112264a6'), 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64fa617bc82a94e0112264a7'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64fa617bc82a94e0112264a8'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

## Filter

In [35]:
new_query = {'code': 'code02'}
new_doc = new_col.find(new_query)

for x in new_doc:
    print(x)

{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}

In [36]:
#this will print out all the values under the key word, 'code'
for x in new_col.find({'code': {'$gt': 'code'}}):
    print(x)

{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}
{'_id': ObjectId('64fa617bc82a94e0112264a3'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64fa617bc82a94e0112264a4'), 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64fa617bc82a94e0112264a6'), 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64fa617bc82a94e0112264a7'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64fa617bc82a94e0112264a8'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

## Ascending Descending Order (Sort)

In [37]:
#ascending order
for x in new_col.find().sort('name'):
    print(x)

{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}
{'_id': ObjectId('64fa617bc82a94e0112264a3'), 'name': 'student00', 'code': 'code00'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64fa617bc82a94e0112264a4'), 'name': 'student01', 'code': 'code01'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64fa617bc82a94e0112264a6'), 'name': 'student03', 'code': 'code03'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64fa617bc82a94e0112264a7'), 'name': 'student04', 'code': 'code04'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64fa617bc82a94e0112264a8'), 'name': 'student05', 'code': 'code05'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [38]:
#descending order
for x in new_col.find().sort('name', -1):
    print(x)

{'_id': ObjectId('64fa617bc82a94e0112264a8'), 'name': 'student05', 'code': 'code05'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}
{'_id': ObjectId('64fa617bc82a94e0112264a7'), 'name': 'student04', 'code': 'code04'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64fa617bc82a94e0112264a6'), 'name': 'student03', 'code': 'code03'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64fa617bc82a94e0112264a4'), 'name': 'student01', 'code': 'code01'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64fa617bc82a94e0112264a3'), 'name': 'student00', 'code': 'code00'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}

## Deleting Docs

In [39]:
#only the first occurance is delected
new_col.delete_one({'code': 'code01'})
for x in new_col.find():
    print(x)

{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}
{'_id': ObjectId('64fa617bc82a94e0112264a3'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64fa617bc82a94e0112264a6'), 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64fa617bc82a94e0112264a7'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64fa617bc82a94e0112264a8'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [40]:
#delete all doc with
x = new_col.delete_many({'code': {'$regex': '^code03'}})
print(x.deleted_count, 'documents deleted from the dataBase')

2 documents deleted from the dataBase

In [41]:
for x in new_col.find():
    print(x)

{'_id': ObjectId('64fa617ac82a94e0112264a2'), 'name': 'Dony', 'code': 'code11'}
{'_id': ObjectId('64fa617bc82a94e0112264a3'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64fa617bc82a94e0112264a5'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64fa617bc82a94e0112264a7'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64fa617bc82a94e0112264a8'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [42]:
print(new_col.delete_many({}).deleted_count, 'documents were deleted from the dataBase')

for x in new_col.find():
    print(x)

10 documents were deleted from the dataBase

## Drop method - deleting collection completely

In [43]:
new_col.drop()

## Updating the Collection

In [44]:
new_col = new_db['students']

list_of_students =[
    {'_id': 1, 'name': 'student00', 'code': 'code00'},
    {'_id': 2, 'name': 'student01', 'code': 'code01'},
    {'_id': 3, 'name': 'student02', 'code': 'code02'},
    {'_id': 4, 'name': 'student03', 'code': 'code03'},
    {'_id': 5, 'name': 'student04', 'code': 'code04'},
    {'_id': 6, 'name': 'student05', 'code': 'code05'}
]

adding_many = new_col.insert_many(list_of_student)

new_q = {'code': 'code00'}
new_vals = {'$set': {'code': 'code10'}}

#update_one only updates the 1st occurance
new_col.update_one(new_q, new_vals)

for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'code10'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

## Display or select specific result - limit method

In [45]:
result_filter = new_col.find().limit(3)
#3 is the number of documents to display

for x in result_filter:
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'code10'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}