# SQLite 3 Tutorials

In [1]:
import sqlite3
#creating a connection called data_testing with db extension
new_connection = sqlite3.connect('data_testing.db')

In [2]:
type(new_connection)

sqlite3.Connection

In [3]:
print(type(new_connection))

<class 'sqlite3.Connection'>

## Creating a cursor

In [4]:
new_cursor = new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

## Select statement to get date and time

In [5]:
new_sql = "SELECT datetime('now', 'localtime');"
new_cursor.execute(new_sql)

In [6]:
new_cursor.fetchall()

[('2023-09-04 20:54:35',)]

In [7]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]
print(new_dtime)

2023-09-04 20:54:40

## Close connection

In [8]:
new_connection.close()

## Summary of eveything done so far

In [9]:
with sqlite3.connect('data_testing.db') as new_connection:
    new_cursor = new_connection.cursor()
    new_sql = "SELECT datetime('now', 'localtime');"
    new_dtime = new_cursor.execute(new_sql).fetchone()[0]
    
print(new_dtime)

2023-09-04 20:54:47

## Create table with values

In [10]:
#the name is a text
#the number is an integer
new_cursor.execute('CREATE TABLE clients(Name TEXT, Number INT);')

#insert enters values into the table
#values are Danny and 2023 ie 2 columns
new_cursor.execute("INSERT INTO clients VALUES('Dany', 2030)")

#commit is used to make changes to our dataBase
new_connection.commit()

#closing after previous operations
new_connection.close()

OperationalError: table clients already exists

Fetching results from the dataBase

In [11]:
new_connection = sqlite3.connect('data_testing.db')
new_cursor = new_connection.cursor()

new_cursor.execute('SELECT * FROM clients;')

In [12]:
new_cursor.fetchone()

('Dany', 2030)

## Delete table

In [13]:
new_cursor.execute('DROP TABLE clients;')

In [14]:
new_connection.commit()
new_connection.close()

## Full Program to fetch all data_testing

In [18]:
import sqlite3

new_values = (
    ('Ronaldo', 7),
    ('Messi', 30),
    ('Salah', 11),
    ('Haland', 9)
)

with sqlite3.connect('data_testing.db') as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute('DROP TABLE IF EXISTS clients')
    new_cursor.execute('CREATE TABLE clients(Name TEXT, Number INT);')
    new_cursor.executemany('INSERT INTO clients VALUES(?, ?)', new_values)
    new_cursor.execute('SELECT Name, Number FROM clients WHERE Number > 7;')
    
    for x in new_cursor.fetchall():
        print(x)

('Messi', 30)
('Salah', 11)
('Haland', 9)

They are many libraries in Python
1. cx_oracle: Oracle
2. psycopg2: PostgreSQL
3. pymongo: MongoDB
4. mysql.connector and pymysql: MySQL
5. cassandra-driver: Cassandra